---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <hr />
  <article>
    <h1>Account Removal</h1>
    <p>You can remove your account at any time by <a href="/login">logging in</a> and navigating to your profile information tab. There, click the "Delete Account" button. This will also cancel your membership if you have one.</p>
  </article>
</Layout>
