@use '/node_modules/kemet-ui/dist/styles/kemet.base.css';

@mixin light-vars {
  --app-color: rgb(var(--kemet-color-stone-900));
  --app-border-color: rgb(var(--kemet-color-black) / 50%);
  --app-background-color: rgb(var(--kemet-color-stone-200));
}

:root {
  --app-page-width: 1280px;
  --app-color: rgb(var(--kemet-color-gray-100));
  --app-link-color: rgb(var(--kemet-color-sky-600));
  --app-border: 1px solid var(--app-border-color);
  --app-border-color: rgb(var(--kemet-color-white) / 25%);
  --app-background-color: rgb(var(--kemet-color-gray-900));
  --app-card-background-color: rgb(var(--kemet-color-black) / 25%);
  --app-input-filled-background-color: rgb(var(--kemet-color-black) / 25%);
  --app-primary-color: rgb(var(--kemet-color-primary));
  --app-error-color: rgb(var(--kemet-color-red-600));

  --kemet-color-text: var(--app-color);
  --kemet-color-primary: var(--kemet-color-sky-600);

  @media (prefers-color-scheme: light) {
    @include light-vars();
  }
}

[polarity="light"] {
  @include light-vars();
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;

  color: var(--app-color);
  background-color: var(--app-background-color);
  margin: 0;
  padding: 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--app-link-color)
}

main {
  display: block;
  max-width: var(--app-page-width);
  min-height: calc(100vh - 150px);
  margin: auto;
  padding: 0 var(--kemet-spacer-xl);
}

figure {
  margin: 0;
  padding: 2rem;
  background-color: rgb(var(--kemet-color-black) / 50%);
}

figcaption {
  margin-top: 1rem;
}

nav {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  padding: 2rem;
  align-items: flex-start;
  font-size: 1.25rem;
}

kemet-modal {
  --kemet-modal-dialog-background-color: var(--app-background-color);
  text-align: center;
}

kemet-modal p {
  color: var(--app-color);
}

kemet-modal section {
  padding: 1rem 1.5rem;
}

ani-layout {
  & > div {
    position: relative;
  }
}

ani-maintenance {
  text-align: center;
}

#modal-sign-in svg {
  width: 128px;
}
