---
import BaseHead from '../components/BaseHead.astro';
import Footer from "../components/Footer.astro";

const { heading, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={heading} description={description} />
	</head>
	<body>
		<slot />
    <Footer />
	</body>
</html>
